@media(max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
.titled {
  font-family: 'Bree Serif', sans-serif ;
  font-size: 58px !important;
  font-weight: 400 !important;
  line-height: 64px !important;
}
.subtitled {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}
.fa{
  margin-right: 0.61em;
}